.p-img{
    border: 5px solid none;
    border-radius: 3px;
    background-color: none;
}
.p-img input[type=checkbox] {
    display: none
  }
  
.p-img img {
    margin: 0;
    transition: transform 0.1s ease;
    cursor: zoom-in
  }
  
.p-img input[type=checkbox]:checked~img {
    transform: scale(3);
    cursor: zoom-out
  }
.container{
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(3, 250px);
    grid-template-rows: repeat(auto,250px);
    align-items: center;
    justify-items: center;
    top: 600px;
    left: 50%;
    transform: translate(0%, 5%);
    padding-left: 20%;
    padding-bottom: 7.5%;
    }
.imgauto{
    grid-row: auto;
    grid-column: auto;
    
}
.center{
    text-align: center;
    padding-bottom: 0;
}

