.main_button{
    padding: 15px 32px;
    color: orange;
    background-color: rgba(31, 31, 31, 1);
    border: none;
    text-align: center;
    border-radius: 32px;
    outline: none;   
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 12px;
}
.main_button:hover{
   
    color: rgba(31, 31, 31, 1);
    background-color: orange;
    border-radius: 32px;
    transition: 0.4s;
}
.main_button:active{
    background-color: orange;
    color: white;
    border-radius: 32px;
}
.nav_button{
    display: inline;
    background-color: orange;
    padding: 15px 32px;
}